.cluster-circle {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
  }
  
  .marker-cluster-small {
	background-color: rgba(181, 226, 140, 0.6);
  }
  
  .marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
  }
  
  .marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
  }
  